In [1]:
import gdown
import pandas as pd
import os
file_id = "1sQJs53Qk3v35YnX40UfqWrSWQIcatykS"
url = f"https://drive.google.com/uc?id={file_id}"
output = "US_Accidents.csv"
if not os.path.exists(output):
    gdown.download(url, output, quiet=False)
    print("Downloaded from Google Drive")
else:
    print("File already exists locally")
    
df = pd.read_csv(output)

File already exists locally

C:\Users\polep\AppData\Local\Temp\ipykernel_10520\1160782198.py:13: DtypeWarning: Columns (37,38,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(output)

In [3]:
import pandas as pd
import numpy as np

In [4]:
df.isnull()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713306,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
713307,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
713308,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
713309,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
713310,False,False,False,False,False,False,False,True,True,False,...,False,False,True,True,True,True,True,True,True,True

In [5]:
df.isnull().sum()

ID                            0
Source                        0
Severity                      0
Start_Time                    0
End_Time                      0
Start_Lat                     0
Start_Lng                     0
End_Lat                  713311
End_Lng                  713311
Distance(mi)                  0
Description                   0
Street                     1614
City                         22
County                        0
State                         0
Zipcode                      76
Country                       0
Timezone                    225
Airport_Code                677
Weather_Timestamp          6534
Temperature(F)            10907
Wind_Chill(F)            454629
Humidity(%)               11895
Pressure(in)               8590
Visibility(mi)            14305
Wind_Direction             8163
Wind_Speed(mph)           94991
Precipitation(in)        465433
Weather_Condition         13560
Amenity                       0
Bump                          0
Crossing                      0
Give_Way                      0
Junction                      0
No_Exit                       0
Railway                       0
Roundabout                    0
Station                       0
Stop                          1
Traffic_Calming               1
Traffic_Signal                1
Turning_Loop                  1
Sunrise_Sunset             1437
Civil_Twilight             1437
Nautical_Twilight          1437
Astronomical_Twilight      1437
dtype: int64

In [6]:
(df.isnull().sum()/df.shape[0])*100

ID                         0.000000
Source                     0.000000
Severity                   0.000000
Start_Time                 0.000000
End_Time                   0.000000
Start_Lat                  0.000000
Start_Lng                  0.000000
End_Lat                  100.000000
End_Lng                  100.000000
Distance(mi)               0.000000
Description                0.000000
Street                     0.226269
City                       0.003084
County                     0.000000
State                      0.000000
Zipcode                    0.010655
Country                    0.000000
Timezone                   0.031543
Airport_Code               0.094910
Weather_Timestamp          0.916010
Temperature(F)             1.529067
Wind_Chill(F)             63.735033
Humidity(%)                1.667576
Pressure(in)               1.204243
Visibility(mi)             2.005437
Wind_Direction             1.144382
Wind_Speed(mph)           13.316912
Precipitation(in)         65.249660
Weather_Condition          1.900994
Amenity                    0.000000
Bump                       0.000000
Crossing                   0.000000
Give_Way                   0.000000
Junction                   0.000000
No_Exit                    0.000000
Railway                    0.000000
Roundabout                 0.000000
Station                    0.000000
Stop                       0.000140
Traffic_Calming            0.000140
Traffic_Signal             0.000140
Turning_Loop               0.000140
Sunrise_Sunset             0.201455
Civil_Twilight             0.201455
Nautical_Twilight          0.201455
Astronomical_Twilight      0.201455
dtype: float64

In [7]:
df.drop(['End_Lat', 'End_Lng'], axis=1, inplace=True)  # Drop the columns of 'End_lat' & 'End_lng' from this dataset.

In [9]:
temp_df = df[['Wind_Speed(mph)', 'Precipitation(in)']][:1000000]  # Handling the missing data of 'Wind_Speed(mph)' & 'Precipitation(in)'
temp_df.head()

   Wind_Speed(mph)  Precipitation(in)
0              NaN               0.02
1              NaN               0.00
2              3.5                NaN
3              4.6                NaN
4              3.5                NaN

In [15]:
import pandas as pd
from sklearn.impute import SimpleImputer

# Select only numeric columns
numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
numeric_df = df[numeric_cols]

# Step 1: Create SimpleImputer (mean strategy, you can also use 'median' or 'most_frequent')
imputer = SimpleImputer(strategy="mean")

# Step 2: Fit and transform the numeric data
imputed_array = imputer.fit_transform(numeric_df)

# Step 3: Convert back to DataFrame
imputed_df = pd.DataFrame(imputed_array, columns=numeric_cols, index=df.index)

# Step 4: Replace numeric columns in original df
df[numeric_cols] = imputed_df

print("Missing values imputed successfully using mean strategy.")
print(df[numeric_cols].isnull().sum())

Missing values imputed successfully using mean strategy.
Severity             0
Start_Lat            0
Start_Lng            0
Distance(mi)         0
Temperature(F)       0
Wind_Chill(F)        0
Humidity(%)          0
Pressure(in)         0
Visibility(mi)       0
Wind_Speed(mph)      0
Precipitation(in)    0
dtype: int64

In [17]:
from sklearn.impute import SimpleImputer

# Select categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns
categorical_df = df[categorical_cols]

# Impute with most frequent value
cat_imputer = SimpleImputer(strategy="most_frequent")           # for categorical values
imputed_cat = cat_imputer.fit_transform(categorical_df)

# Convert back to DataFrame
imputed_cat_df = pd.DataFrame(imputed_cat, columns=categorical_cols, index=df.index)

# Replace in original df
df[categorical_cols] = imputed_cat_df

print("Missing values in categorical columns imputed with mode.")
print(df[categorical_cols].isnull().sum())

Missing values in categorical columns imputed with mode.
ID                       0
Source                   0
Start_Time               0
End_Time                 0
Description              0
Street                   0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Wind_Direction           0
Weather_Condition        0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64

In [18]:
df.isnull().sum()

ID                       0
Source                   0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
Distance(mi)             0
Description              0
Street                   0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Temperature(F)           0
Wind_Chill(F)            0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)           0
Wind_Direction           0
Wind_Speed(mph)          0
Precipitation(in)        0
Weather_Condition        0
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64